/* Style for body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Style for header */
header {
    background-color: #090dcb;

}

/* Style for nav */
nav {
    display: inline;
    width: 80%;
    background-color: #1ad574;
    text-align: center;
}


/* Style for main */
main {
    background-color: #f5f5f5;
    font-size: 18px;
}

/* Style for footer */
footer {
    background-color: #ec5616;
}

/* Style for li */
li {
    display: inline-block;
    width: 100px;
    
}

/* Style for h1 */
h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #ff6600;
}

/* Style for p */
p {
    line-height: 1.5;
}
.gird{
    display: grid;
    grid-template-columns: repeat(2,40%);
    gap: 20px;
    justify-content: center;

}
.gird img{
    width: 100%;
}
.flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

}
